:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #ffffff;
    --main-font-color: #555555;
    color: var(--main-font-color);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

h1 { font-size: 38px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.container-central {
    max-width: 940px;
    width: min(940px, 100vw); 
    margin-left: auto;
    margin-right: auto;
}

.main-page {
    min-height: 100vh;
}


@media only screen and (min-width: 680px) {
    .img-cohort {
        padding-right: 35px;
        padding-left: 35px;
    }
}

.img-standard {
    max-height: 500px;
}

.img-square {
    max-height: 650px;
}

.img-cohort {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 0;
    width: auto;
    height: auto;
}


.navbar-brand {
    font-family: 'Secular One', sans-serif;
    font-size: 22px;
    color: #DDD !important;
}


.footer a {
    color: rgb(236, 236, 236);
}

.faq-a {
    margin-bottom: 2.5rem;
}

.faq-q {
    font-weight: 700;
    margin-top: 2.5rem;
}

.badges {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.navbar {
    background: linear-gradient(0deg, #FFF, #212529 6px );
    font-size: 16px;
}

.footer {
    background: linear-gradient(180deg, #FFF, #212529 6px );
    color: rgb(187, 187, 187);
    font-size: 11px;
}


.tab-box.active {
    border-bottom: 1.5px solid #555555;
}

.tab-box {
    color: inherit;
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
}
a.tab-box:hover { 
    color: inherit; 
}