{% extends "page.html" %}


{% block content %}


<script type="text/x-template" id="c-descriptives">
    <p>
        This cohort was built by only including matches that met the following critera:
    </p>
    <ul>
        <li>Were played on the <strong>{{meta.leaderboard}}</strong> leaderboard</li>
        <li>Have a map classification of <strong>{{meta.mapclass}}</strong></li>
        <li>The lowest Elo player has an Elo greater than <strong>{{meta.elo_limit_lower}}</strong></li>
        <li>Started after <strong>{{meta.start_limit_lower}}</strong></li>
        <li>Started before <strong>{{meta.start_limit_upper}}</strong></li>
        <li>Had a game length longer than <strong>{{meta.length_limit_lower}}</strong> in-game minutes</li>
        <li>Had a game length shorter than <strong>{{meta.length_limit_upper}}</strong> in-game minutes</li>
        {% if meta.rm_single_pick %}
        <li>Contains no players who played the same civ more than 40&#65130;</li>
        {% endif %}
    </ul>
    <p>
        The only exception is for the "Win rate by Elo" plot in which the lowest Elo requirement is
        relaxed to allow for all matches in which the lowest player had an Elo greater than
        <strong>{{meta.elo_limit_lower_slide}}</strong>.
    </p>
    
    <h3>Distribution of Matches Played by Patch</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_patch_{{build_id}}.png">

    <h3>Distribution of Matches Played by Map</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_map_{{build_id}}.png">

    <h3>Distribution of Matches Played by Game Length</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_gamelength_{{build_id}}.png">

    <h3>Distribution of Matches Played by Mean Team Elo </h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_elo_{{build_id}}.png">

    <h3>Play Rate by Civilisation</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_playrate_{{build_id}}.png">
</script>




<script type="text/x-template" id="c-naive-wr">
    <h3>Naive Win Rates by Civilisation</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrNaive_{{build_id}}.png">

    <h3>Naive Win Rates vs Play Rate</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrNaive_playrate_{{build_id}}.png">
</script>



<script type="text/x-template" id="c-avg-wr">
    <h3>Averaged Win Rates by Civilisation</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrAvg_{{build_id}}.png">

    <h3>Averaged Win Rates vs Play Rate</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrAvg_playrate_{{build_id}}.png">
</script>




<script type="text/x-template" id="c-sliding">
    <h3>Naive Win Rates by Elo</h3>
    <img class="img-cohort img-square" src="outputs/cohort_{{meta.id}}/slide_wrNaive_elo_{{build_id}}.png">

    <h3>Naive Win Rates by Game Length</h3>
    <img class="img-cohort img-square" src="outputs/cohort_{{meta.id}}/slide_wrNaive_gamelength_{{build_id}}.png">


    <h3>Play Rates by Elo</h3>
    <img class="img-cohort img-square" src="outputs/cohort_{{meta.id}}/slide_playrate_elo_{{build_id}}.png">
</script>




<script type="text/x-template" id="c-indciv">
    <div id="civ-pick">
        <div class="form-group">
            <label for="civselect" class = "pe-3">Select a Civilisation:</label>
            <select name="cars" id="cars" v-model="civ" class = "form-control d-inline-block" style="width: auto;">
                <option v-bind:key="i_civ" v-for="i_civ in all_civs">
                    {% raw %}{{ i_civ }}{% endraw %}
                </option>
            </select>
        </div>

        <h3>Civilisation v Civilisation Win Rates</h3>
        <img 
            class="img-cohort img-standard"
            :src="'outputs/cohort_{{meta.id}}/cvc_wrNaive_' + civ + '_{{build_id}}.png'"
        >
    </div>
</script>



<script type="text/x-template" id="c-experimental">
    
    <h3>Distribution of Players Highest Picked Civilisation's Play Rate</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_civpick_{{build_id}}.png">
    <p>
        For this plot we calculate the play rate of each players most played civ 
        (i.e. if I used Franks for 60% of my games, Mayans for 30% and Britains for 10%
        I would get a value of 60). We then categories the counts into brackets of 10
        (i.e. 0-10, 10-20, etc) and count how many are in each bracket. The idea is this
        should give some indication of how many people are playing random vs how many are
        1-civ pickers.
    </p>

    <h3>Hierarchical Clustering Dendrogram</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_dendro_{{build_id}}.png">
    <p>
        This output attempts to highlight civilisations that are "similar" based upon
        their win rates vs other civilisations. The algorithm works by recursively
        grouping civilisations (or groups of civilisations) that are the most similar
        to each other until there is only 1 group. The lower down on the y-axis that
        civilisations are grouped indicates a higher degree of similarity whilst
        civilisations that are grouped higher up on the y-axis indicates a lower degree
        of similarity. That is to say that if two civilisations are linked together low
        down on the y-axis it means that they tend to win and lose against the same
        civilisations.
    </p>

    <h3>Estimating how Overrated or Underrated each Civilisation is</h3>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_ewr_owr_diff_{{build_id}}.png">
    <p>
        This plot attempts to answer the question of "how overrated / underrated is each
        civilisation" (credit to SOTL for proposing this idea).
        
        In order to try and quantify this, play rates are normalised using a box-cox
        transformation and then a robust linear regression is fitted and used to estimate
        what the expected win rate should be for each civilisation.
        
        The idea is that play rates could be used as a surrogate to indicate what
        people's expectations of each civilisation are; that is, civilisations with
        high play rates are those that people think will do well whilst civilisations
        with low play rates are those that people think will do badly. The plot above 
        shows the difference between the expected win rate and the observed win rate with
        the plot below showing the observed win rates vs the expected win rates.
    </p>
    <img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_ewr_owr_{{build_id}}.png">
    <p>
        It must stress that these plots should be interpreted with a massive grain of
        salt. The fundamental assumption that play rates predict win rates is a strong
        one (for example I main Vietnamese despite knowing they perform below average).
        Likewise pick rates heavily bias win rates due to interactions with the Elo
        system as well as peoples skill/familiarity with the civ. These are biases that
        the model can’t account for and to which the results are most susceptible to as
        it is intrinsically the extremes that we are most likely to be interested in.
        This is all to say that these results should be regarded more as an informal
        conversation starter rather than as an exact science / analysis.
    </p>
</script>




<div id="tab-set" class="demo">
    
    <nav class="nav nav-pills flex-column flex-md-row mb-4">
        <a 
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="[
                'flex-sm-fill', 
                'text-center', 
                'tab-box', 
                { active: currentTab === tab.id }
            ]"
            v-on:click="currentTab = tab.id"
            href="#">
            {% raw %}{{ tab.desc }}{% endraw %}
        </a>
    </nav>
    <div>
        <keep-alive>
            <component v-bind:is="currentTab" class="tab"></component>
        </keep-alive>
    </div>
    
</div>


<script>
    
    civpick_app = {
        data() {
            return {
                civ : "Aztecs",
                all_civs: [
                    'Aztecs', 'Berbers', 'Bohemians', 'Britons', 'Bulgarians', 'Burgundians', 'Burmese',
                    'Byzantines', 'Celts', 'Chinese', 'Cumans', 'Ethiopians', 'Franks', 'Goths', 'Huns', 'Incas',
                    'Indians', 'Italians', 'Japanese', 'Khmer', 'Koreans', 'Lithuanians', 'Magyars', 'Malay',
                    'Malians', 'Mayans', 'Mongols', 'Persians', 'Poles', 'Portuguese', 'Saracens', 'Sicilians',
                    'Slavs', 'Spanish', 'Tatars', 'Teutons', 'Turks', 'Vietnamese', 'Vikings'
                ]
            }
        }
    }
    
    const app = Vue.createApp({
        data() {
            return {
                currentTab: 'tab-desc',
                tabs: [
                    {id: 'tab-desc', desc:"Descriptives"},
                    {id: 'tab-nwr', desc:"Naive Win-Rates"},
                    {id: 'tab-awr', desc:"Averaged Win-Rates"},
                    {id: 'tab-slide', desc:"Sliding Window"},
                    {id: 'tab-indciv', desc:"Individual Civilisation"},
                    {id: 'tab-experimental', desc:"Experimental"}
                ]
            }
        }
    })
    app.component('tab-desc', { template: '#c-descriptives' })
    app.component('tab-nwr', { template: '#c-naive-wr' })
    app.component('tab-awr', { template: '#c-avg-wr' })
    app.component('tab-slide', { template: '#c-sliding' })
    app.component('tab-indciv', { ...civpick_app, template: '#c-indciv' })
    app.component('tab-experimental', { template: '#c-experimental' })
    app.mount('#tab-set')
</script>


{% endblock %}



