{% extends "page.html" %}


{% block content %}
<div id="toc">
    <h2>Table of Contents</h2>
</div>

<div id="contents">
<h2>Cohort Inclusion Criteria</h2> 

<p>
    This cohort was built by only including matches that met the following critera:

    <ul>
        <li>Were played on the <strong>{{meta.leaderboard}}</strong> leaderboard</li>
        <li>Have a map classification of <strong>{{meta.mapclass}}</strong></li>
        <li>The lowest Elo player has an Elo greater than <strong>{{meta.elo_limit_lower}}</strong></li>
        <li>Started after <strong>{{meta.start_limit_lower}}</strong></li>
        <li>Started before <strong>{{meta.start_limit_upper}}</strong></li>
        <li>Had a game length longer than <strong>{{meta.length_limit_lower}}</strong> in-game minutes</li>
        <li>Had a game length shorter than <strong>{{meta.length_limit_upper}}</strong> in-game minutes</li>
        {% if meta.no_single_pick %}
        <li>Contains no players who played the same civ more than 50&#65130;</li>
        {% endif %}
    </ul>


    The only exception is for the "Win rate by Elo" plot in which the lowest Elo requirement is
    relaxed to allow for all matches in which the lowest player had an Elo greater than
    <strong>{{meta.elo_limit_lower_slide}}</strong>.
</p>




<h2>Descriptives</h2>

<h3>Distribution of Matches Played by Patch</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_patch.png">



<h3>Distribution of Matches Played by Map</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_map.png">



<h3>Distribution of Matches Played by Game Length</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_gamelength.png">



<h3>Distribution of Matches Played by Mean Team Elo </h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_elo.png">



<h3>Play Rate by Civilisation</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_playrate.png">




<h2>Naive Win Rates</h2>


<h3>Naive Win Rates by Civilisation</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrNaive.png">



<h3>Naive Win Rates vs Play Rate</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrNaive_playrate.png">



<h2>Averaged Win Rates</h2>


<h3>Averaged Win Rates by Civilisation</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrAvg.png">



<h3>Averaged Win Rates vs Play Rate</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_wrAvg_playrate.png">



<h2>Sliding Window Plots</h2>


<h3>Naive Win Rates by Elo</h3>
<img class="img-cohort img-square" src="outputs/cohort_{{meta.id}}/slide_wrNaive_elo.png">

<h3>Naive Win Rates by Game Length</h3>
<img class="img-cohort img-square" src="outputs/cohort_{{meta.id}}/slide_wrNaive_gamelength.png">


<h3>Play Rates by Elo</h3>
<img class="img-cohort img-square" src="outputs/cohort_{{meta.id}}/slide_playrate_elo.png">




<h2>Individual Civilisation</h2>


<label for="civselect">Select a Civilisation: </label>
<input id="civselect">


<h3>Civilisation v Civilisation Win Rates</h3>
<img 
    class="img-cohort img-standard civselect" 
    src="outputs/cohort_{{meta.id}}/cvc_wrNaive_Aztecs.png"
    data-url="outputs/cohort_{{meta.id}}/cvc_wrNaive_{0}.png">




<br/>
<br/>

<h2>Experimental</h2>

<p>
    This section contains outputs that are still being tweaked or reviewed and maybe removed or changed
    in the future.If you have any feedback or suggestions about them please let me know
</p>



<h3>Distribution of Players Highest Picked Civilisation's Play Rate</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/dist_civpick.png">

<p>
    For this plot we calculate the play rate of each players most played civ 
    (i.e. if I used Franks for 60% of my games, Mayans for 30% and Britains for 10%  I would get a
    value of 60). We then categories the counts into brackets of 10  (i.e. 0-10, 10-20, etc) and count
    how many are in each bracket. The idea is this should give some indication of how many people are
    playing random vs how many are 1-civ pickers.
</p>







<h3>Hierarchical Clustering Dendrogram</h3>
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_dendro.png">


<p>
    This output attempts to highlight civilisations that are "similar" based upon their win rates vs
    other civilisations. The algorithm works by recursively grouping civilisations (or groups of
    civilisations) that are the most similar to each other until there is only 1 group. The lower down
    on the y-axis that civilisations are grouped indicates a higher degree of similarity whilst
    civilisations that are grouped higher up on the y-axis indicates a lower degree of similarity. That
    is to say that if two civilisations are linked together low down on the y-axis it means that they
    tend to win and lose against the same civilisations.
</p>

 
 

 
 
<h3>Estimating how Overrated or Underrated each Civilisation is</h3>
 

<p>
    The following plots attempt to answer the question of "can we tell how overrated / underrated each
    civilisation is" (credit to SOTL for proposing this idea).
     
    In order to try and quantify this, play rates are normalised using a box-cox transformation and
    then a robust linear regression is fitted and used to estimate what the expected win rate should
    be for each civilisation.
     
    The idea is that play rates could be used as a surrogate to indicate what people's expectations
    of each civilisation are; that is, civilisations with high play rates are those that people think
    will do well whilst civilisations with low play rates are those that people think will do badly.
     
    The following is then a plot of the difference between the expected win rate and the observed
    win rate:
</p>

 
<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_ewr_owr_diff.png">


<p>
    For context the following plot shows both the observed and expected win rates
</p>


<img class="img-cohort img-standard" src="outputs/cohort_{{meta.id}}/civ_ewr_owr.png">

<p>
    I must stress that these plots should be interpreted with a massive grain of salt. The fundamental
    assumption that play rates predict win rates is a strong one (for example I main Vietnamese despite
    knowing they perform below average). Likewise pick rates heavily bias win rates due to interactions
    with the Elo system as well as peoples skill/familiarity with the civ. These are biases that the
    model can’t account for and to which the results are most susceptible to as it is intrinsically
    the extremes that we are most likely to be interested in. This is all to say that these results
    should be regarded more as an informal conversation starter rather than as an exact
    science / analysis.
</p>



</div>

{% endblock %}