---
title: Age of Empires 2 Civilisation Performance Statistics
date: "`r format(Sys.time(), '%d %b %Y')`"
params:
    type: NULL
output:
    html_document:
        theme: cerulean
        toc: true
        toc_depth: 3
        css: [www/jquery-ui.css, www/jquery-ui.structure.css, www/styles.css, www/jquery-ui.theme.css]
        includes:
            in_header: www/header.html
editor_options: 
  chunk_output_type: console
---


```{r, setup, echo = FALSE, results = FALSE, message = FALSE}
devtools::load_all()
library(dplyr)
library(ggplot2)
library(scales)
library(tidyr)
library(lubridate)


knitr::opts_chunk$set(
    echo = FALSE,
    collapse = TRUE,
    message = FALSE,
    warning = FALSE,
    comment = "#>",
    fig.retina = 2, # Control using dpi
    fig.width = 9,
    fig.height = 9 * 5 / 8,
    out.height = "500px",
    out.width = "800px",
    fig.pos = "t",  # pdf mode
    fig.align = "center",
    dpi = if (knitr::is_latex_output()) 72 else 300,
    out.width = "100%",
    dev = "svg",
    dev.args = list(png = list(type = "cairo-png")),
    optipng = "-o1 -quiet"
)


knitr::opts_template$set(square = list(
    fig.width = 9,
    fig.height = 9,
    out.height = "700px",
    out.width = "700px"
))


opts <- get_opts()

dat <- map(names(opts), function(x){
    readRDS(sprintf("data/ad_report_%s.Rds", x))
})
names(dat) <- names(opts)

dat2 <- list(
    rm_solo_open = list(
        dat = dat$rm_solo_open$wr_naive,
        lab = "RM-Solo-Open Win Rate (%)"
    ),
    rm_solo_closed = list(
        dat = dat$rm_solo_closed$wr_naive,
        lab = "RM-Solo-Closed Win Rate (%)"
    ),
    rm_solo_any = list(
        dat = dat$rm_solo_any$wr_naive,
        lab = "RM-Solo-Any Win Rate (%)"
    ),
    rm_team_open = list(
        dat = dat$rm_team_open$wr_naive,
        lab = "RM-Team-Open Win Rate (%)"
    ),
    rm_team_closed = list(
        dat = dat$rm_team_closed$wr_naive,
        lab = "RM-Team-Closed Win Rate (%)"
    ),
    rm_team_any = list(
        dat = dat$rm_team_any$wr_naive,
        lab = "RM-Team-Any Win Rate (%)"
    ),
    ew_solo_any = list(
        dat = dat$ew_solo_any$wr_naive,
        lab = "EW-Solo-Any Win Rate (%)"
    ),
    ew_team_any = list(
        dat = dat$ew_team_any$wr_naive,
        lab = "EW-Team-Any Win Rate (%)"
    ),
    rm_solo_open_rm1civ = list(
        dat = dat$rm_solo_open_rm1civ$wr_naive,
        lab = "RM-Solo-Open-NoSingleCiv Win Rate (%)"
    ),
    rm_solo_closed_rm1civ = list(
        dat = dat$rm_solo_closed_rm1civ$wr_naive,
        lab = "RM-Solo-Closed-NoSingleCiv Win Rate (%)"
    )
)

```

## Introduction

This document compares the naive win rates across different map / game types. Please
see the documents for the individual categories for the criterias that were used to 
construct their win rates.


## Random Match

### Solo Open vs Solo Closed
```{r, rm_solo_open_rm_solo_closed}
cross_wr_naive(
    wr1 = dat2$rm_solo_open,
    wr2 = dat2$rm_solo_closed
)
```

### Team Open vs Team Closed
```{r, rm_team_open_rm_team_closed}
cross_wr_naive(
    wr1 = dat2$rm_team_open,
    wr2 = dat2$rm_team_closed
)
```

### Solo Open vs Team Open
```{r, rm_solo_open_rm_team_open}
cross_wr_naive(
    wr1 = dat2$rm_solo_open,
    wr2 = dat2$rm_team_open
)
```

### Solo Closed vs Team Closed
```{r, rm_solo_closed_rm_team_closed}
cross_wr_naive(
    wr1 = dat2$rm_solo_closed,
    wr2 = dat2$rm_team_closed
)
```

### Solo Any vs Team Any
```{r, rm_solo_any_rm_team_any}
cross_wr_naive(
    wr1 = dat2$rm_solo_any,
    wr2 = dat2$rm_team_any
)
```



### Solo Open vs Solo Open No-Single-Civ
```{r, rm_solo_open_rm_solo_open_rm1civ}
cross_wr_naive(
    wr1 = dat2$rm_solo_open,
    wr2 = dat2$rm_solo_open_rm1civ
)
```

### Solo Closed vs Solo Closed No-Single-Civ
```{r, rm_solo_closed_rm_solo_closed_rm1civ}
cross_wr_naive(
    wr1 = dat2$rm_solo_closed,
    wr2 = dat2$rm_solo_closed_rm1civ
)
```


### Solo Open No-Single-Civ vs Solo Closed No-Single-Civ
```{r, rm_solo_open_rm1civ_rm_solo_closed_rm1civ}
cross_wr_naive(
    wr1 = dat2$rm_solo_open_rm1civ,
    wr2 = dat2$rm_solo_closed_rm1civ
)
```

## Empire Wars

### Solo Any vs Team Any
```{r, ew_solo_any_ew_team_any}
cross_wr_naive(
    wr1 = dat2$rm_solo_open,
    wr2 = dat2$ew_team_any
)
```
