{% extends "page.html" %}


{% block content %}


<h1>Welcome</h1>

 
<p> 
This site provides win rate, play rate and other general performance statistics
for each of the civilisations in Age of Empires 2 DE.

The statistics are generated for multiple different cohorts of matches
where each cohort is defined by specific inclusion/exclusion criteria.
Please click the "Cohorts" button on the top right of the page to get the full list
of available cohorts. 
<br><br>
Credit to <a href="https://aoe2.net/">aoe2.net</a> for providing access to the data used
to generate these statistics.
</p>

{% endblock %}